.body {
    height: auto;
}

.footer {
    height: 100px;
    background-color: #172B4D;
}

.footer p {
    font-size: small;
}

/* animation */

.base {
    width: 93%;
    border-top: 5px solid #172b4d;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 0 0 30px;
  }
  
  .holder {
    width: 30px;
    height: 20px;
    background: black;
    margin: auto;
    border-radius: 0 0 50% 50%;
  }
  
  .thread {
    display: inline-block;
    width: 2px;
    height: 200px;
    background: black;
    border-radius: 5px;
    position: relative;
    transform-origin: 50% 0;
    animation: moveIt 2.5s ease-in-out infinite;
  }
  
  .thread:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #172b4d;
    border: 2px solid white;
    top: -4.5px;
    left: -3.5px;
  }
  
  .pendulum {
     width: 130px;
     height: 130px;
     background: -webkit-linear-gradient(to right, #fb6340 , #5e72e4);
     background: -webkit-linear-gradient(left, #fb6340 , #5e72e4);
     background: linear-gradient(to right, #fb6340 , #5e72e4 );
      border-radius: 100%;
      position: absolute;
      bottom: -37px;
      left: -60px;
      font-size: 20px;
      padding: 30px 20px;
  }
  
  .shadow_a {
    width: 30px;
    height: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 50px auto 0;
    animation: moveShade 1.25s ease-in-out alternate infinite;
  }
  
  @keyframes moveIt {
    0%, 100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
  }
  
  @keyframes moveShade {
    0% {
      transform: translateX(-220px) scale(1.4, .5);
      filter: blur(20px);
    }
    50% {
      filter: blur(3px);
    }
    100% {
      transform: translateX(220px) scale(1.4, .5);
      filter: blur(20px);
    }
  }
